<app-toast></app-toast>
<div class="page-container">
  <header class="header">
    <div class="container">
      <h1 class="title" (click)="goHome()">McLearn</h1>

      <nav class="nav">
        <a class="nav-link btn btn-primary" routerLink="/help">{{ 'help' | translate }}</a>

        <ng-container *ngIf="isLoggedIn$(); else loginLink">
          <a
            class="nav-link btn btn-primary"
            href="#"
            (click)="authService.logout()"
            >{{ 'logout' | translate }}</a
          >
        </ng-container>
        <ng-template #loginLink>
          <a class="nav-link btn btn-primary" routerLink="/login">{{ 'login' | translate }}</a>
        </ng-template>
      </nav>

      <div class="language-switcher">
        <select (change)="switchLanguage($event)">
          <option value="en">English</option>
          <option value="es">Español</option>
        </select>
      </div>

      <div class="theme-switcher">
      </div>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>&copy; 2025 McLearn</p>
  </footer>
</div>
