 <header class="header">
    <div class="container">
        <h1 class="title">Flashcards</h1>
        <nav class="nav">
        <a class="nav-link btn btn-primary" routerLink="/">Home</a>
        <a class="nav-link btn btn-primary" routerLink="/editor">Editor</a>
        <a class="nav-link btn btn-primary" routerLink="/stacks">Stacks</a>
        </nav>
        <div class="theme-switcher">
        <button class="btn" (click)="toggleTheme()">Toggle Theme</button>
        </div>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>&copy; 2023 Flashcards</p>
  </footer>