<div class="login-wrapper">
  <div class="login-card">
    <h2 class="title">🔐 {{ 'login' | translate }}</h2>

    <input
      type="text"
      [(ngModel)]="username"
      placeholder="{{ 'username' | translate }}"
      class="form-input"
    />
    <input
      type="password"
      [(ngModel)]="password"
      placeholder="{{ 'password' | translate }}"
      class="form-input"
      (keydown.enter)="login()"
    />

    <button
      class="btn"
      (click)="login()"
      [disabled]="!username || !password || isLoading"
    >
      {{ 'login_button' | translate }}
    </button>

    <app-loader *ngIf="isLoading"></app-loader>

    <p class="small-link">
      {{ 'no_account' | translate }}
      <a routerLink="/register">{{ 'register_here' | translate }}</a>
    </p>
  </div>
</div>
