<link
  href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<div class="card form-container">
  <h2>🔐 Login</h2>

  <input type="text" [(ngModel)]="username" placeholder="Benutzername" />
  <input
    type="password"
    [(ngModel)]="password"
    placeholder="Passwort"
    (keydown.enter)="login()"
  />
  <button class="btn" (click)="login()" [disabled]="!username || !password">
    Einloggen
  </button>

  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="error" class="error-msg">Login fehlgeschlagen</div>

  <p>Noch kein Konto? <a routerLink="/register">Hier registrieren</a></p>
</div>
