<div class="container">
  <h1>{{ 'help' | translate }}</h1>

  <h2>{{ 'leitner_title' | translate }}</h2>
  <p>
    {{ 'leitner_text' | translate }}
  </p>

  <h2>{{ 'howto_title' | translate }}</h2>
  <p>
    {{ 'howto_text' | translate }}
  </p>

  <div>
    <select class="language-selector" (change)="switchLanguage($event)">
      <option value="en">English</option>
      <option value="de">Deutsch</option>
      <option value="es">Español</option>
      <option value="fr">France</option>
    </select>
  </div>
</div>