<div class="login-wrapper">
  <div class="login-card">
    <h2 class="title">📝 Registrieren</h2>

    <input
      type="text"
      class="form-input"
      placeholder="Benutzername"
      [(ngModel)]="username"
    />

    <input
      type="password"
      class="form-input"
      placeholder="Passwort"
      [(ngModel)]="password"
      (keydown.enter)="register()"
    />

    <button class="btn" (click)="register()" [disabled]="!username || !password">
      Registrieren
    </button>

    <div *ngIf="success" class="success-msg">Registrierung erfolgreich 🎉</div>
    <div *ngIf="error" class="error-msg">{{ errorMessage }}</div>

    <p class="small-link">
      Schon registriert?
      <a routerLink="/login">Hier einloggen</a>
    </p>

    <app-loader *ngIf="isLoading"></app-loader>
  </div>
</div>
