.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: var(--font-family-sans-serif);
}

.login-card {
  background: var(--card-background);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: var(--text-color);
}

.title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.form-input {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 0px solid var(--border);
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  font-family: inherit;
  background: var(--input-bg);
  color: var(--text-color);
  transition: border-color 0.2s;
  border-radius: 0.3rem;
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.btn {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover:not(:disabled) {
  background-color: var(--primary-color-hover);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-msg {
  color: var(--danger-color);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.small-link {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  color: var(--primary-color);
}

a{
  text-decoration: none;
  color: var(--primary-color-hover);
}
