.add-form {
  display: flex;
  gap: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.form-textarea {
  resize: vertical;
  background-color: var(--input-bg);
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

textarea:focus, input:focus {
  outline: none; 
  border: 1px solid #ec4949;
}