<div class="profile-container">
  <div class="profile-header">
    <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture">
    <h1 class="user-name">{{ userName }}</h1>
  </div>

  <div class="stacks-container">
    <h2>{{ 'my_stacks' | translate }}</h2>
    <ul class="stack-list">
      <li *ngFor="let stack of stacks" class="stack-item">
        <a [routerLink]="['/stack', stack.id, 'study']" class="stack-link">
          <span class="stack-name">{{ stack.name }}</span>
          <span class="card-amount">{{ stack.card_amount }} {{ 'cards' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
