<div class="friend-requests-container">
  <div *ngIf="requests.length === 0" class="empty-message">
    {{ "no_friend_requests" | translate }}
  </div>
  <ul *ngIf="requests.length > 0" class="request-list">
    <li *ngFor="let request of requests" class="request-item">
      <span>{{ request.name }}</span>
      <div class="actions">
        <button (click)="acceptRequest(request.sender_id)" class="accept-btn">
          {{ "accept" | translate }}
        </button>
        <button (click)="declineRequest(request.sender_id)" class="decline-btn">
          {{ "decline" | translate }}
        </button>
      </div>
    </li>
  </ul>
</div>
